# dependencies
node_modules/
.pnp
.pnp.js

# bun
.bun/

# next.js
.next/
out/

# production
build/
dist/

# env / secrets
.env
.env*.local
!.env.example

# debug / logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
bun-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel

# testing / coverage
coverage/
.nyc_output/

# OS / editor
.DS_Store
Thumbs.db
*.pem
.idea/
.vscode/*
!.vscode/extensions.json

# misc
*.swp
*.swo
*~
